* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

/* AUTH */
.auth-container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
